@import '../../../styles/_variables.scss';

.container {
	height: 80px;
	padding: 20px;
	background-color: $primary;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;

	// TODO: Center logo/middle item

	.rightSide {
		display: flex;
		align-items: center;

		// TODO: Remove margin first-of-child
		* > :not(:first-of-type) {
			margin-left: 6px;
		}

		.avatar {
			height: 30px;
			width: 30px;
			border-radius: 50%;
			border: 2px solid black;
			font-size: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
