@import '../../../styles/_variables.scss';

.container {
	height: 5rem;
	padding: 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	border-bottom: 2px solid $text;

	.leftSide {
		flex-grow: 1;
		flex-basis: 0;
	}

	.rightSide {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-grow: 1;
		flex-basis: 0;

		.avatar {
			height: 2rem;
			width: 2rem;
			border-radius: 50%;
			border: 2px solid $primary;
			font-size: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
