@import '../../../styles/_variables.scss';

.container {
	height: 80px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid $text;

	.leftSide {
		flex-grow: 1;
		flex-basis: 0;
	}

	.rightSide {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-grow: 1;
		flex-basis: 0;

		// TODO: Remove margin first-of-child
		* > :not(:first-of-type) {
			margin-left: 6px;
		}

		.avatar {
			height: 30px;
			width: 30px;
			border-radius: 50%;
			border: 2px solid $primary;
			font-size: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
