@import '../../../../styles/_variables.scss';

.container {
	display: flex;
	align-items: center;

	.info {
		margin-left: 16px;
		display: flex;
		flex-direction: column;
	}

	.avatar {
		position: relative;
		height: 50px;
		width: 50px;
		flex-shrink: 0;
		border-radius: 50%;
		border: 2px solid $primary;
		overflow: hidden;
	}
}
