.container {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.subMenu {
		height: 120px;
		padding: 20px;
		display: flex;
		align-items: center;
		background-color: green;
	}

	.avatar {
		position: relative;
		width: 100%;
		height: 200px;
	}

	.contactInfo {
		padding: 20px;
		display: flex;
		flex-direction: column;

		.contactRow {
			padding: 10px 0;
			display: flex;
		}
	}
}
