@import '../../styles/_variables.scss';

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	.banner {
		height: 80px;
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 2px solid black;
		background-color: $primary;
	}

	.optionsBar {
		height: 40px;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2px solid black;

		.filter {
			display: flex;

			// TODO: Add margin-right on all items but last
		}
	}

	.list {
		background-color: red;
		height: 100%;
		overflow-y: scroll;
	}
}
