@import '../../styles/_variables.scss';

.container {
	height: 100vh;
	padding: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img {
			margin-bottom: 3rem;
		}

		h1 {
			margin-bottom: 1.25rem;
			text-align: center;
		}

		a {
			padding: 0.625rem 0.875rem;
			border: 1px solid $primary;
			border-radius: 0.25rem;
			background-color: $primary;
			color: $white;
			font-size: 1rem;
			cursor: pointer;

			&:hover {
				background-color: $primary-dark;
			}
		}
	}
}
