@import '../../styles/_variables.scss';

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	.banner {
		height: 5rem;
		padding: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 2px solid $text;
		background-color: $primary;
		color: $white;
	}

	.optionsBar {
		height: 2.5rem;
		padding: 1.25rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2px solid $text;

		.filter {
			padding-bottom: 2px;
			border: none;
			border-bottom: 2px solid $text;
			font-size: 1rem;

			@media #{$desktop} {
				&:hover {
					border-color: $primary;
				}
			}
		}
	}

	.list {
		height: 100%;
		overflow-y: scroll;
	}
}
