@import '../../../../styles/_variables.scss';

.container {
	padding: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-top: 2px solid $primary;

	button {
		padding: 0.625rem 0.875rem;
		margin: 0 5px;
		border: 1px solid $primary;
		border-radius: 0.25rem;
		background-color: $primary;
		color: $white;
		font-size: 1rem;
		cursor: pointer;

		&:disabled {
			background-color: $darkgrey;
			cursor: not-allowed;
		}

		&:hover:not(:disabled) {
			background-color: $primary-dark;
		}
	}

	.currentPage {
		margin: 0 0.25rem;
		border-bottom: 2px solid $primary;
		font-weight: 700;
		width: 30px;
		text-align: center;
	}

	@media screen and (max-width: $xs) {
		button {
			padding: 0.625rem 0.475rem;
		}
	}
}
