// Colors
$primary: #cd000d;
$primary-dark: #a30a14;
$accent: #556c79;
$text: #373a3c;
$white: #fff;
$lightgrey: #f5f5f5;
$darkgrey: #b2b2b2;

// Screen sizes
$xs: 370px;
$sm: 768px;
$md: 1024px;
$lg: 200px;
$xl: 5000px;
$mobile-screen: 768px;
$tablet-screen: 1024px;

// Media queries
$mobile: 'only screen and (max-width:#{$mobile-screen})';
$tablet: 'only screen and (min-width:#{$mobile-screen + 1}) and (max-width: #{$tablet-screen})';
$desktop: 'only screen and (min-width:#{$tablet-screen + 1})';
